<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Lite Inventory</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<div class="row-fluid">
    	<!--/*/ <th:block th:include="fragments/menu :: left-menu"></th:block> /*/-->
    	
    	<div class="span9">
    		<form class="form-horizontal" th:object="${barang}" th:action="@{/barang}" method="post">
			  <h3>Barang</h3>
			  <div class="control-group">
			    <label class="control-label" for="kdBarang">Kode Barang</label>
			    <div class="controls">
			    	<input type="text" maxLength="6" th:field="*{kdBarang}"/> 
			    	<p class="text-error" th:if="${#fields.hasErrors('kdBarang')}" th:errors="*{kdBarang}">Error</p>			    				     
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="nama">Nama</label>
			    <div class="controls">
			      <input type="text" maxLength="60" th:field="*{nama}"/>			      
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="kdKategori">Jenis</label>
			    <div class="controls">
			      <select th:field="*{kdKategori}">
			      	<option th:each="jenis : ${jenisbarangs}" 
			      		th:value="${jenis.kdKategori}"
			      		th:text="${jenis.nama}"></option>
			      </select>			      
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="merk">Merk</label>
			    <div class="controls">
			      <input type="text" maxLength="20" th:field="*{merk}"/>			      
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="tipe">Tipe</label>
			    <div class="controls">
			      <input type="text" maxLength="20" th:field="*{tipe}"/>			      
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="ukuran">Ukuran</label>
			    <div class="controls">
			      <input type="text" maxLength="20" th:field="*{ukuran}"/>			      
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="satuan">Satuan</label>
			    <div class="controls">
			      <select th:field="*{satuan}">
			      	<option th:each="satuan : ${satuans}" 
			      		th:value="${satuan.kdSatuan}"
			      		th:text="${satuan.nama}"></option>
			      </select>	
			    </div>
			  </div>			  
			  <div class="control-group">
			    <div class="controls">			          
			      <button type="submit" class="btn btn-primary">Save</button>
			    </div>
			  </div>
			</form>
    	</div>
    </div>
        
</div>

</body>
</html>