<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Lite Inventory</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<div class="row-fluid">
    	<!--/*/ <th:block th:include="fragments/menu :: left-menu"></th:block> /*/-->
    	
    	<div class="span10">
    		<h3>Daftar Masuk</h3>
    		
    		<form class="form-horizontal" th:object="${daftarMasuk}" th:action="@{/daftarmasuk}" method="post">
    		  <input type="hidden" th:field="*{idMasuk}"/>
    		  <input type="hidden" th:field="*{idPerusahaan}"/>
              <input type="hidden" th:field="*{serverDatetime}"/>
            			  
			  <div class="control-group">
			    <label class="control-label" for="tanggal">Tanggal</label>
			    <div class="controls">
			    	<div class="input-append date">
			    		<input type="text" th:field="*{tanggal}" th:text="${#dates.format(daftarMasuk.tanggal, 'MM/dd/yyyy')}"/> 
			    		<span class="add-on"><i class="icon-calendar"></i></span>
			    		<p class="text-error" th:if="${#fields.hasErrors('tanggal')}" th:errors="*{tanggal}">Error</p>
			    	</div>			    	 			    				    				    
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="dari">Dari</label>
			    <div class="controls">
			      <input type="text" maxLength="30" th:field="*{dari}"/>			      
			    </div>
			  </div>			  
			  <div class="control-group">
			    <label class="control-label" for="noFaktur">No. Faktur</label>
			    <div class="controls">
			      <input type="text" maxLength="50" th:field="*{noFaktur}"/>			      
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="tanggalFaktur">Tanggal Faktur</label>
			    <div class="controls">			      
			    	<div class="input-append date">
			    		<input type="text" th:field="*{tanggalFaktur}" th:text="${#dates.format(daftarMasuk.tanggalFaktur, 'MM/dd/yyyy')}"/> 
			    		<span class="add-on"><i class="icon-calendar"></i></span>
			    	</div>			    	 			    				    				    
			    </div>			    
			  </div>			 		  
			  <div class="control-group">
			    <div class="controls">			          
			      <button type="submit" class="btn btn-primary">Save</button>
			    </div>
			  </div>
			</form>
    	</div>
    </div>
        
</div>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script>
	    $('.input-append.date').datepicker({});
    </script>
    
</body>
</html>