<!DOCTYPE html>
<html>
<head lang="en">
    <title>Lite Inventory</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <div class="row-fluid">
    	<!--/*/ <th:block th:include="fragments/menu :: left-menu"></th:block> /*/-->
    	
    	<div class="span9">
    		<h3>Home</h3>    		   
	
	        <!-- div class="jumbotron">
	            <div class="row text-center">
	                <div class="">
	                    <h2>Lite Inventory</h2>
	                    <h3>Welcome</h3>
	                </div>
	            </div>           
	        </div> -->
        
    	</div>
    </div>
</div>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>