<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Lite Inventory</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<div class="row-fluid">
    	<!--/*/ <th:block th:include="fragments/menu :: left-menu"></th:block> /*/-->
    	
    	<div class="span9">
    		<form class="form-horizontal" th:object="${kategoriBarang}" th:action="@{/jenisbarang}" method="post">
			  <h3>Jenis Barang</h3>
			  
			  <div class="alert alert-error" th:if="${#fields.hasErrors('*')}">
			  	<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
			  </div>
			  
			  <div class="control-group">
			    <label class="control-label" for="kdKategori">Kode</label>
			    <div class="controls">
			    	<input type="text" maxLength="5" th:field="*{kdKategori}"/>			    				     
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="nama">Nama</label>
			    <div class="controls">
			      <input type="text" maxLength="60" th:field="*{nama}"/>
			    </div>
			  </div>			  
			  <div class="control-group">
			    <div class="controls">			          
			      <button type="submit" class="btn btn-primary">Simpan</button>
			    </div>
			  </div>
			</form>
    	</div>
    </div>
        
</div>

</body>
</html>