<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Lite Inventory</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <div class="row-fluid">
    	<!--/*/ <th:block th:include="fragments/menu :: left-menu"></th:block> /*/-->
    	
    	<div class="span9">
    		<h3>Jenis Barang</h3>
    		<p><a href="#" th:href="@{/jenisbarang/new}">Tambah</a></p>
    		
    		<div th:if="${not #lists.isEmpty(jenisbarangs)}">		        
		        
		        <table class="table table-hover table-condensed">
		            <tr>
		            	<th>No.</th>               
		            	<th>Kode</th>
		                <th>Jenis Barang</th>              
		                <th></th>
		                <th></th>
		            </tr>
		            <tr th:each="jenis, row : ${jenisbarangs}">
		            	<td th:text="${row.index+1}">No.</td> 
		            	<td th:text="${jenis.kdKategori}">Kode</td>                
		                <td name="jenisBarang" th:text="${jenis.nama}">Jenis Barang</td>                            
		                <td><a th:href="${'/jenisbarang/edit/' + jenis.kdKategori}">Ubah</a></td>
		                <td name="deleteLink" th:value="${'/jenisbarang/delete/' + jenis.kdKategori}">
		                	<a href="#" th:onclick="'javascript:openBSModal(\'' + ${row.index} + '\');'">Hapus</a>
		                </td>
		            </tr>
		        </table>
		
		    </div>

		    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		        <div class="modal-dialog">
		            <div class="modal-content">
		            
		                <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                    <h4 class="modal-title" id="myModalLabel">Pesan Konfirmasi</h4>
		                </div>
		            
		                <div class="modal-body">
		                    <p>Apakah Anda yakin akan menghapus data jenis barang?</p>
		                    <div class="to-delete-data"></div>		                   		                    
		                </div>
		                
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
		                    <a class="btn btn-danger btn-ok" data-dismiss="modal">Ya</a>
		                </div>
		            </div>
		        </div>
		    </div>
    	</div>
    </div>    
</div>

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		function openBSModal(id) {			
			indexRecord = id;			
			$('#confirm-delete').modal({cache:false}, 'show');
		};
		
        $('#confirm-delete').on('show.bs.modal', function() {        	        	
            $('.to-delete-data').html('Jenis Barang = <strong>' + document.getElementsByName('jenisBarang')[indexRecord].textContent + '</strong>');
        });
        
        $('#confirm-delete').on('click', '.btn-ok', function(e) {        	        	
           	var strUrl = document.getElementsByName('deleteLink')[indexRecord].attributes.value.value;           	
           	$.ajax({url: strUrl, 
           		type: 'POST',
           		success: function(data){
           			location.reload();
           		}
           	})
           	                      
       	});
        
        window.setTimeout(function() {
		    $(".alert").fadeTo(500, 0).slideUp(500, function(){
		        $(this).remove(); 
		    });
		}, 4000);
    </script>

</body>
</html>